{{ define "Forgotpassword" }}

{{ template "Header" }}


<body>
    <div class="login-page  forgot-password-main">
        <div class="solo-logo"><img src="/public/asset/images/Logo.png" alt="Logo"></div>
        <div class="solo-login solo-container">
            <h3 class="login-head">Forgot Password</h3>
            <p class="login-para">Please Enter Register Emaill Address</p>
            <form>
                <div class="input-wrapper">
                    <input type="text" placeholder="exampl@" class="login-input form-control" value="sameer@">
                    <label for="" class="login-label form-label">Email Address</label>
                </div>

                <button class="onbord-btn btn">Send</button>
            </form>

        </div>
        <p class="haveaccount"><a href="/login">I have an account<span> Login </span></a> </p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/public/js/custom.js"></script>
    <script src="/public/asset/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
{{ end }}