{{ define "Ridehistory" }}

{{ template "Header" }}

<body>

    <div class="ride-history">

        {{ template "Menu" }}

        <div class="ride-header">
            <div class="three-dot-div side-bar-click"><img src="/public/asset/images/three-dot.png" alt="three-dot">

            </div>
            <h3 class="ride-heading">Ride History</h3>
        </div>
        <div class="ride-body-head">
            {{ range . }}
            <div class="ride-body solo-container">
                <a href="/ride-history-detail?id={{ .Id }}">
                    <div class="ride-plaza">
                       
                        <div class="date-span"><span>{{.FromDate}}</span><span>{{.FromTime}}</span></div>
                        <ul class="road-route">
                            <li class="indra-road">{{.FromAddress}} </li>
                            <li class="social-plaza">{{.ToAddress}}</li>
                        </ul>
                        <div class="route-time">
                            <span>
                                <p>Duration</p>
                                <strong>{{.Duration}}</strong>
                            </span>
                            <span>
                                <p>Distance</p>
                                <strong>{{.Distance}}</strong>
                            </span>
                            <span>
                                <p>Total</p>
                                <strong>₹{{.Total}}</strong>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            {{ end }}
            <!-- <div class="ride-body solo-container">
                <div class="ride-plaza">
                    <div class="date-span"><span>10/08/2022</span><span>08:30AM</span></div>
                    <ul class="road-route">
                        <li class="indra-road">7th, Main Road, Indira Nagar, Chennai. </li>
                        <li class="social-plaza">Social Plaza, Anna Nagar, Chennai.</li>
                    </ul>
                    <div class="route-time">
                        <span>
                            <p>Time</p>
                            <strong>00:24:12</strong>
                        </span>
                        <span>
                            <p>Distance</p>
                            <strong>13.05Km</strong>
                        </span>
                        <span>
                            <p>Total</p>
                            <strong>₹189.05</strong>
                        </span>
                    </div>
                </div>
            </div> -->
            <!-- <div class="ride-body solo-container">
                <div class="ride-plaza">
                    <div class="date-span"><span>10/08/2022</span><span>08:30AM</span></div>
                    <ul class="road-route">
                        <li class="indra-road">7th, Main Road, Indira Nagar, Chennai. </li>
                        <li class="social-plaza">Social Plaza, Anna Nagar, Chennai.</li>
                    </ul>
                    <div class="route-time">
                        <span>
                            <p>Time</p>
                            <strong>00:24:12</strong>
                        </span>
                        <span>
                            <p>Distance</p>
                            <strong>13.05Km</strong>
                        </span>
                        <span>
                            <p>Total</p>
                            <strong>₹189.05</strong>
                        </span>
                    </div>
                </div>
            </div> -->
            <!-- <div class="ride-body solo-container">
                <div class="ride-plaza">
                    <div class="date-span"><span>10/08/2022</span><span>08:30AM</span></div>
                    <ul class="road-route">
                        <li class="indra-road">7th, Main Road, Indira Nagar, Chennai. </li>
                        <li class="social-plaza">Social Plaza, Anna Nagar, Chennai.</li>
                    </ul>
                    <div class="route-time">
                        <span>
                            <p>Time</p>
                            <strong>00:24:12</strong>
                        </span>
                        <span>
                            <p>Distance</p>
                            <strong>13.05Km</strong>
                        </span>
                        <span>
                            <p>Total</p>
                            <strong>₹189.05</strong>
                        </span>
                    </div>
                </div>
            </div> -->
        </div>
    </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/public/js/custom.js"></script>
    <script src="/public/asset/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>

{{ end }}