{{ define "Stopmap" }}

{{ template "Header" }}

<body onload="initialize()">
<p style="display: none;" id="lat">{{.lat}}</p>
<p style="display: none;" id="lon">{{.lon}}</p>
<p style="display: none;" id="date">{{.date}}</p>
<p style="display: none;" id="time">{{.time}}</p>
<p style="display: none;" id="cost">{{.cost}}</p>
<p style="display: none;" id="wait">12</p>

<p style="display: none;" id="lastinsertid">{{.lastinsertid}}</p>


<!-- <p id="stopDate">{{.stopDate}}-{{.stopMonth}}-{{.stopYear}}</p>
<p id="stopTime">{{.stopHour}}:{{.stopMinute}}</p> -->
    <div class="start-map stop-map">

        {{ template "Menu" }}

        <div class="start-iframe">
            <div class="start-iframe-inner">
                <div class="icon ">
                    <div class="icon-inner">
                        <div class=" side-bar-click"><img src="/public/asset/images/three-dot.png" alt="hamberger-menu"></div>
                        <p></p>
                    </div>
                    <div class="icon-inner-two"><img src="/public/asset/images/gps.png" alt="Gps image"></div>
                </div>

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61313.4276691518!2d74.78410638236622!3d16.164348227801494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc0afd5c38ffc3f%3A0x309845646e521b4d!2sGokak%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1667892375275!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen=""
                 loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="map-start">
                <div class="map-fare-head">
                    <span class="map-fare">
                        <p>Fare</p>
                        <strong>₹{{.basefare}}</strong>
                    </span>
                    <span class="map-start-circle">
                        <button id="stop" class="btn">Stop</button>
                    </span>
                    <span class="map-fare">
                        <p>Ride</p>
                        <strong id="ride"></strong>
                    </span>
                </div>
                <div class="map-fare-mins">
                    <div class="clock-fare-head">
                        <div class="clock-img"> <img src="/public/asset/images/clock.png" alt="clock"></div>

                        <p class="clock-img-para">00:12 <span>Mins</span> </p>
                    </div>
                    <div class="clock-fare-head">
                        <div class="clock-img"> <img src="/public/asset/images/km.png" alt="clock"> </div>
                        <p class="clock-img-para">46 <span>Km/Hr</span> </p>
                    </div>

                </div>
                <div class="start-map-road">
                    <ul class="road-route">
                        <li class="indra-road">{{.from_address}}</li>
                        <li class="social-plaza" id="address">Social Plaza, Anna Nagar, Chennai.</li>
                    </ul>
                </div>
            </div>
            <div class="rate-card-popu">
                <div class=" solo-container">
                    <h3 class="rate-card-head">Rate Card</h3>
                    <div class="rate-card-duration">
                        <div class="inner-duration-card">
                            <p class="min-rate" id="duration"></p>
                            <p class="rate-dis">Duration</p>
                        </div>
                        <div class="inner-duration-card">
                            <p class="min-rate" id="distance">6.12 KiloMetre</p>
                            <p class="rate-dis">Distance</p>
                        </div>

                    </div>
                    <div class="start-map-road rate-card-popup-road-map">
                        <ul class="road-route">
                            <li class="indra-road">
                                <div></div>
                                <div class="inner-pickup">
                                    <p class="inner-pickup-one">Pick up</p>
                                    <p class="inner-pickup-one" id="pickup">08:30AM</p>
                                </div>
                                <span>{{.from_address}}</span>
                            </li>
                            <li class="social-plaza">
                                <div class="inner-pickup">
                                    <p class="inner-pickup-one">Drop</p>
                                    <p class="inner-pickup-one" id="drop">08:47AM</p>
                                </div>
                                <span id="to_address">Social Plaza, Anna Nagar, Chennai.</span>
                            </li>
                        </ul>
                    </div>
                    <div class="fare-details">
                        <h3>Fare Details</h3>
                        <div class="fare-inner"> <span class="fare-inner-one">Base fare</span><span
                                class="fare-inner-two">₹{{.basefare}}</span>
                                <span
                                class="fare-inner-two" style="display: none;" id="basefare">₹{{.basefare}}</span></div>
                        <!-- <div class="fare-inner"> <span class="fare-inner-one">Minimum fare</span><span
                                class="fare-inner-two">₹32</span></div> -->
                        <div class="fare-inner"> <span class="fare-inner-one">Price per Km (4x16)</span><span
                                class="fare-inner-two">₹{{.cost}}</span></div>
                        <div class="fare-inner"> <span class="fare-inner-one">Total Distance</span><span
                                class="fare-inner-two" id="totaldistance"></span></div>
                        <div class="fare-inner"> <span class="fare-inner-one">Waiting Charges</span><span
                                class="fare-inner-two" >₹12</span></div>
                        <div class="fare-inner"> <span class="fare-inner-one">Total(Distance x Cost + Waiting Charges)</span><span
                                class="fare-inner-two" id="total"></span></div>
                    </div>
                    <button class="btn amount-receive" data-bs-toggle="modal" data-bs-target="#myModal" id="amount">Amount
                        Received</button>
                </div>
            </div>
        </div>

    </div>



    <!-- The Modal -->
    <div class="modal sucess-popup-head" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="sucess-popup">
                        <div class="sus-pop-img"><img src="/public/asset/images/success.png" alt="success image"></div>
                        <p class="sus-amount">Amount Succesfully Received</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/public/js/custom.js"></script>
    <script src="/public/asset/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&libraries=geometry&key=AIzaSyBOtBm_jImkho72J9MW43QL4y1r5CzAiH8"></script>

<script>
     function initialize() {
    geocoder = new google.maps.Geocoder();

}
$( document ).ready(function() {
    var p1 = new google.maps.LatLng(16.164269, 74.819126);
    lat =  $('#lat').html();
    lon =  $('#lon').html();
    tolat = 16.164269;
    tolon = 74.819126;

var p2 = new google.maps.LatLng(lat,lon);
//alert(p2);
if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
            var location = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            //alert(location);
            lat = position.coords.latitude;
    lon = position.coords.longitude;

    var geocoder;

geocoder = new google.maps.Geocoder();
//var latlng = new google.maps.LatLng(lat, lon);
var latlng = new google.maps.LatLng(16.164269, 74.819126);
//alert(latlng);
geocoder.geocode(
    
    {'latLng': latlng}, 
    
    function(results, status) {
        //alert('com')
        if (status == google.maps.GeocoderStatus.OK) {
                if (results[0]) {
                    var add= results[0].formatted_address ;
                    var  value=add.split(",");

                    count=value.length;
                    country=value[count-1];
                    state=value[count-2];
                    city=value[count-3];
                  // alert("city name is: " + add);
                   document.getElementById("address").innerHTML = add;
                   document.getElementById("to_address").innerHTML = add;

            address =  $('#address').html();
            //alert(address);
           
                }
                else  {
                    //alert("address not found");
                }
        }
         else {
           // alert("Geocoder failed due to: " + status);
        }
    }
);
    //alert(lat);
           
        }, function () {
            //alert(null);
        });
    }
    else {
        //alert(null);
    }
//alert(calcDistance(p1, p2));
document.getElementById("ride").innerHTML = calcDistance(p1, p2)+" km";

//calculates distance between two points in km's
function calcDistance(p1, p2) {
  return (google.maps.geometry.spherical.computeDistanceBetween(p1, p2) / 1000).toFixed(2);
}

    $('#stop').click(function() {

        var d = new Date($.now());
//alert(d.getDate()+"-"+(d.getMonth() + 1)+"-"+d.getFullYear()+" "+d.getHours()+":"+d.getMinutes()+":"+d.getSeconds());

stopdate = (d.getMonth() + 1)+"-"+d.getDate()+"-"+d.getFullYear();
stoptime = d.getHours()+":"+d.getMinutes();
startdate =  $('#date').html();
starttime =  $('#time').html();
//alert(startdate);
//alert(starttime);

var start_actual_time  =  startdate+' '+starttime;
var end_actual_time    =  (d.getMonth() + 1)+"/"+d.getDate()+"/"+d.getFullYear()+" "+d.getHours()+":"+d.getMinutes();

// var start_actual_time  =  "01/17/2012 11:20";
// var end_actual_time    =  "01/18/2012 12:25";

start_actual_time = new Date(start_actual_time);
end_actual_time = new Date(end_actual_time);

var diff = end_actual_time - start_actual_time;

var diffSeconds = diff/1000;
var HH = Math.floor(diffSeconds/3600);
var MM = Math.floor(diffSeconds%3600)/60;

var formatted = ((HH < 10)?("0" + HH):HH) + " Hour " + ((MM < 10)?("0" + MM):MM)+ " Min " 


//lert(formatted);
lat =  $('#lat').html();
    lon =  $('#lon').html();
    cost =  $('#cost').html();
    wait =  $('#wait').html();
    to_address =  $('#address').html();
    //alert(wait);
    lastid =  $('#lastinsertid').html();
var p1 = new google.maps.LatLng(16.164269, 74.819126);
var p2 = new google.maps.LatLng(lat,lon);
document.getElementById("duration").innerHTML = formatted;
document.getElementById("pickup").innerHTML = start_actual_time;
document.getElementById("drop").innerHTML = end_actual_time;
document.getElementById("distance").innerHTML = calcDistance(p1, p2);
distance = calcDistance(p1, p2);
document.getElementById("totaldistance").innerHTML = calcDistance(p1, p2);
//$('#duration').html() = formatted;
totalcost  = Math.ceil((calcDistance(p1, p2)*cost));

total = parseFloat(totalcost) + parseFloat(wait);
document.getElementById("total").innerHTML = Math.ceil(total);




$.ajax({
                               url: 'receive',
                               type: 'post',
                               dataType: 'html',
                                data : { tolat: tolat,tolon:tolon,to_address:to_address,stopdate:stopdate,stoptime:stoptime,distance:distance,wait:wait,duration:formatted,total:total,lastid:lastid},
                           // data : { tolat: "hello"},
                               success : function(data) {
                               //  alert('ajax data posted');
                                // $('#result').html(data);
                               },
                             });
                        









    });

    $('#amount').click(function() {
        lastid =  $('#lastinsertid').html();
        $.ajax({
                               url: 'amount',
                               type: 'post',
                               dataType: 'html',
                                data : { amount_status: "1",lastid:lastid},
                           // data : { tolat: "hello"},
                               success : function(data) {
                                // alert('ajax data posted');
                                // $('#result').html(data);
                               },
                             });
    });
    


//alert(latlong1);
var geocoder;
lat =  $('#lat').html();
    lon =  $('#lon').html();
geocoder = new google.maps.Geocoder();
var latlng = new google.maps.LatLng(lat, lon);
//alert(latlng);
geocoder.geocode(
    
    {'latLng': latlng}, 
    
    function(results, status) {
        //alert('com')
        if (status == google.maps.GeocoderStatus.OK) {
                if (results[0]) {
                    var add= results[0].formatted_address ;
                    var  value=add.split(",");

                    count=value.length;
                    country=value[count-1];
                    state=value[count-2];
                    city=value[count-3];
                    //alert("city name is: " + city);
                }
                else  {
                   // alert("address not found");
                }
        }
         else {
           // alert("Geocoder failed due to: " + status);
        }
    }
);

});
</script>





</body>

</html>
{{ end }}